#clientCards {
  flex-grow: 1;
  padding-bottom: 10rem;

  .row {
    overflow: hidden;

    .client-card {
      .icon-holder {
        background-color: $brand-primary !important;
      }

      &.stressed {
        .card {
          .icon-holder {
            background-color: $brand-danger !important;
          }
        }
      }

      &.non-responsive {
        .card {
          opacity: 0.7;
          .icon-holder {
            background-color: $gray-light !important;
          }
        }
      }

      .card {
        border: 1px solid transparent;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;

        .content-holder {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          height: 80px;
          border-radius: .25rem;
          padding: 0;

          .content-pane {
            flex-grow: 1;
            padding: 0 15px;
            line-height: 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-direction: row;

            .client-name {
              line-height: 1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .icon-pane {
            width: 35px !important;
            max-width: 35px !important;
            min-width: 35px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.5s ease;
            flex-direction: column;
            position: relative;
            border-left: 1px solid $gray-lightest;

            .fa {
              margin: 11px auto;
              transition: color 0.5s ease;
              color: $gray-light;
            }
            .divider {
              position: absolute;
              top: 50%;
              width: 100%;
              height: 1px;
              border-top: 1px solid $gray-lightest !important;
            }
          }

          .icon-holder {
            text-align: center;
            border-radius: .25rem 0 0 .25rem;
            width: 40px !important;
            max-width: 40px !important;
            min-width: 40px !important;

            .brand-icon {
              top: 25% !important;
            }

            .os-icon {
              top: 75% !important;
            }

            .divider {
              position: absolute;
              top: 50%;
              width: 100%;
              height: 1px;
              border-top: 1px solid $white !important;
            }
          }
        }
      }
    }
  }
}
